.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }

html {
    background-color: black;
    color: white;
    font-family: "Libre Baskerville";
}

body {
    display: block;
}

h1 {
    font-size: 12rem;
    margin: 1rem;
}

p {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

p.indent {
    text-indent:8rem;
}

p.indent:before {
    font-size: 0.8rem;
    content: '( INTRO )';   
    margin-right: 1rem;
}

.container {
    max-width: 100rem;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  video {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -100;
    width: 50rem;
}

@media (max-width: 767px) {
    .container {
        max-width: 95vw;
        margin: auto;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    h1 {
        font-size: 6rem;
        margin: 1rem;
    }
    
    p {
        font-size: 1rem;
        line-height: 1.4rem;
    }

    p.indent {
        text-indent:4rem;
    }

    video {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -100;
        width: 50%;
        opacity: 40%;
    }
}
